body{
    background-color:var(--colorfondo)
}

:root{ /* declaramos variables para reutilizar colores */
    --color_texto: #850591;
    --color_elementos_fieldset: #4d3e6b;
    --color_boton: #cf83fe;
    --color_hover: #fa83d6; 
    --fuente_principal: "Popins";
    --fuente_secundaria: "Verdana";
    --color_border_fieldset: rgb(255, 0, 242); 
    --color_elementos_fieldset: rgb(70, 69, 69); 
    --color_titulos: rgb(79, 39, 45);
    --color-rosapastel:#f6e3f0;
    --color-verdelimon: rgb(224, 255, 177);
    --colorfondo: rgb(255, 255, 241);
}
.tituloNombre{
    color: var(--color_titulos);
    text-align: center;
    background-color: var(--color-rosapastel);
    font-family: var(--fuente_principal) ;
    text-decoration: solid;
}
.foto1{
    width: 300px;
    height: 380px;
    padding: 2%;
    text-align: center;
}
h2,h3{
    padding-left: 2%;
    text-align: center;
    background-color: var(--color-verdelimon);
    font-family: var(--fuente_principal);
    font-size: larger;
}

.p{
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    font-family: var(--fuente_secundaria);
} 


h4{
    font-family: var(--fuente_principal);
    background-color: var(--color-verdelimon);
    text-align: center;
}
.list-group-item{
    padding-left: 10px;
    font-family: var(--fuente_secundaria);
}

.linkCancion{
    color:#850591;
}
.tituloCancion{
color: black;
font-family: var(--fuente_principal);
font-style:oblique;
}
.cantantes{
    color: var(--color_texto);
    font-family: var(--fuente_secundaria);
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    background-color: var(--color-rosapastel);
    padding-left: 2%;
    padding-bottom: 2%;
} 

.hobbies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
}
.fotoCrochet{
width:100px;
height: 150x;
padding: 10px;
}

.fotoPlantas{
    width: 100px;
    height: 150px;
}
.fotoJustDance{
    width: 130px;
    height: 175px;
    padding-bottom: 15px;
}
        
.navHola{
    font-family: var(--fuente_principal);
    color: var(--color_texto);
    text-decoration: none;
}

.navbar navbar-expand-lg bg-body-tertiary{
    color: var(--color-rosapastel);
}

